header {

    height: 624px;


    background-image: url(../working/burgerAccueil.jpg);
    background-repeat: no-repeat;
    background-size: 100% 780px;
    background-position: center;
    display: flex;
    flex-direction: column;

}


body {
    height: 100%;
    width: 100%;

    background-color: #FFF9F4;
    
}

footer {height: 20%;
width: 100%;
background-color: #221000;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;}

form {}

a {color: #FFF9F4;
text-decoration: none;
    font-family: 'Open Sans', sans-serif, bold;
}

ul {list-style: none;
display: flex;
    justify-content: center;
}

li {margin: 20px;
}

p {}

h1 {}

h2 {}

/*
@font-face {
    font-family: "Bufalo";
    src: url('BuffaloInline2Grunge.otf');
}*/
